* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-image: url(resourses/library.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
  }
  
  .form-container {
    width: 100%;
    max-width: 500px;
    background-color: #333;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 7px;
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    color: #fff;
    margin-bottom: 50px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    background-color: #e3914e;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  label {
    font-size: 14px;
    color: #fff;
    margin-bottom: 3px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox input {
    margin-right: 10px;
  }
  
  .checkbox label {
    font-size: 13px;
    color: #fff;
  }
  
  .select select {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }